<!--<router-outlet></router-outlet>-->
<!--<app-text-tongxin></app-text-tongxin>-->
<!--<app-ng-for-text></app-ng-for-text>-->
<!--<app-tpl-var></app-tpl-var>-->
<!--<app-tpl-operators></app-tpl-operators>-->
<!--<div class="panel">-->
<!--  <button (click)="setList()">重置</button>-->
<!--  <button (click)="showInput()">显示输入框</button>-->
<!--  <app-transfer-panel [search]="search" [showList]="showList" (change)="onChange($event)"></app-transfer-panel>-->
<!--</div>-->
<!--<div id="app">-->
<!--  <app-layout></app-layout>-->
<!--</div>-->
<div>
  <app-codemirror></app-codemirror>
</div>
